@keyframes ldio-yzaezf3dcmj {
  0% { opacity: 1 }
  100% { opacity: 0 }
}

.ldio-yzaezf3dcmj div {
  left: 18px;
  top: 8px;
  position: absolute;
  animation: ldio-yzaezf3dcmj linear 1s infinite;
  background: #2c292a;
  width: 4px;
  height: 12px;
  border-radius: 2px / 6px;
  transform-origin: 2px 20px;
}

.ldio-yzaezf3dcmj div:nth-child(1) { transform: rotate(0deg); animation-delay: -0.9167s; }
.ldio-yzaezf3dcmj div:nth-child(2) { transform: rotate(30deg); animation-delay: -0.8333s; }
.ldio-yzaezf3dcmj div:nth-child(3) { transform: rotate(60deg); animation-delay: -0.75s; }
.ldio-yzaezf3dcmj div:nth-child(4) { transform: rotate(90deg); animation-delay: -0.6667s; }
.ldio-yzaezf3dcmj div:nth-child(5) { transform: rotate(120deg); animation-delay: -0.5833s; }
.ldio-yzaezf3dcmj div:nth-child(6) { transform: rotate(150deg); animation-delay: -0.5s; }
.ldio-yzaezf3dcmj div:nth-child(7) { transform: rotate(180deg); animation-delay: -0.4167s; }
.ldio-yzaezf3dcmj div:nth-child(8) { transform: rotate(210deg); animation-delay: -0.3333s; }
.ldio-yzaezf3dcmj div:nth-child(9) { transform: rotate(240deg); animation-delay: -0.25s; }
.ldio-yzaezf3dcmj div:nth-child(10) { transform: rotate(270deg); animation-delay: -0.1667s; }
.ldio-yzaezf3dcmj div:nth-child(11) { transform: rotate(300deg); animation-delay: -0.0833s; }
.ldio-yzaezf3dcmj div:nth-child(12) { transform: rotate(330deg); animation-delay: 0s; }

.loadingio-spinner-spinner-2by998twmg8 {
  width: 50px;   /* smaller */
  height: 60px;  /* smaller */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; /* center horizontally */
}

.ldio-yzaezf3dcmj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.ldio-yzaezf3dcmj div {
  box-sizing: content-box;
}
